body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.panel-default {
    border-top: 3px solid #f39c12;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    margin-bottom: 10px;
}


label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: grey;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/
